@{
  ViewBag.Title = "Downloads";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well">
  <h2>Downloads</h2>  
  <b>Binaries:</b> <a href="@Url.Content("~/Downloads/Binaries.zip")">Binaries v.0.5.1</a><br />
  <b>Source and Demo:</b> <a href="https://github.com/AndreyAkinshin/knockout-mvc">GitHub</a><br />
  <br />
  <p>The Knockout MVC is currently available for use in all personal or commercial projects
    under <a href="http://www.opensource.org/licenses/mit-license.php">MIT license</a>.</p>
</div>