@{
  ViewBag.Title = "Downloads";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well">
  <h2>Downloads</h2>  
  <a href="https://github.com/AndreyAkinshin/knockout-mvc/downloads">Binaries</a><br />
  <a href="https://github.com/AndreyAkinshin/knockout-mvc">Source and Demo</a><br />
  <br />
  <p>The Knockout MVC is currently available for use in all personal or commercial projects
    under <a href="http://www.opensource.org/licenses/mit-license.php">MIT license</a>.</p>
</div>