@{
  ViewBag.Title = "Knockout MVC";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="https://github.com/AndreyAkinshin/knockout-mvc"><img style="position: absolute; top: 50; right: 20px; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
<div class="well">  
  <div style="text-align: center">
    <img src="@Url.Content("~/Images/Logo/logo180x100.png")" alt="Knockout MVC"/>
  </div>
  <h2 style="text-align: center; font-size: 20pt; margin-top: 10px; margin-bottom: 10px">
    Power of <a href="http://knockoutjs.com/">Knockout.js</a> for <a href="http://www.asp.net/mvc/mvc3">
      ASP.NET MVC</a>.</h2>
  <div style="margin-left: 50px; margin-right: 10px">
    @RenderPage(@Url.Content("~/Views/Home/ConceptTable.cshtml"))
  </div>
</div>
