@{
  ViewBag.Title = "Links";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well">
  <h2>Links</h2>
  <h3>Knockout</h3>
  <ul>
    <li><a href="http://knockoutjs.com/">Knockout.js</a> &#8212; official site</li>    
    <li><a href='http://www.knockmeout.net'>Knock Me Out</a> &#8212; Ryan Niemeyer&#8217;s
      excellent blog containing ideas, thoughts, and discussion about KnockoutJS and related
      technologies</li>
    <li><a href='http://www.pluralsight-training.net/microsoft/Courses/TableOfContents?courseName=knockout-mvvm'>
      PluralSight Knockout.js training course</a> &#8212; Online videos - John Papa provides
      almost 5 hours of in-depth content (<a href='http://johnpapa.net/komvvm'>more info</a>)</li>
    <li><a href='http://blog.stevensanderson.com/2010/07/12/editing-a-variable-length-list-knockout-style/'>
      Editing a variable-length list, Knockout-style</a> &#8212; Steve Sanderson shows
      the advantages of using Knockout with ASP.NET MVC</li>
    <li><a href='http://github.com/carlhoerberg/knockout-websocket-example'>Knockout+WebSockets</a>
      &#8212; Carl Hörberg combines Knockout, Sinatra, SQLite, and WebSockets to implement
      realtime forms collaboration</li>
    <li><a href='http://geeks.aretotally.in/log4play-log4j-ui-mashed-up-with-play-framework-knockout-js-and-websockets'>
      Log4Play: Log4j Live Streaming with Play Framework, Knockout.js and WebSockets</a>
      &#8212; Felipe Oliveira creates a realtime server log with KO and WebSockets</li>
    <li><a href='https://github.com/SteveSanderson/knockout/wiki/Recipes'>Wiki - Recipes</a>
      &#8212; User contributed recipes and examples</li>
    <li><a href='https://github.com/SteveSanderson/knockout/wiki/Plugins'>Wiki - Plugins</a>
      &#8212; User contributed list of plugins</li>
  </ul>
  <h3>ASP.NET MVC</h3>
  <ul>
    <li><a href="http://www.asp.net/mvc/mvc3">ASP.NET MVC3</a> &#8212; official site</li>
    <li><a href="http://www.asp.net/mvc/mvc4">ASP.NET MVC4</a> &#8212; official site</li>
    <li><a href="http://www.asp.net/mvc/mvc3#BM_TheRazorViewEngine">Razor view engine</a></li>
  </ul>
  <h3>Kncokout MVC</h3>
  <ul>
    <li><a href="https://github.com/AndreyAkinshin/knockout-mvc">Project on GitHub</a></li>
    <li><a href="https://github.com/AndreyAkinshin/knockout-mvc/wiki/Roadmap">Roadmap</a></li>
  </ul>
</div>
