@{
  ViewBag.Title = "Quick start";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well">
  <h2>Quick start</h2>
  <ul>
    <li>Install <a href="https://nuget.org/packages/kMVC/">kMVC NuGet package</a></li>
    <li>Add links to next js-files:
      <pre class="prettyprint lang-xml">
&lt;script src="&#64;Url.Content("~/Scripts/jquery-x.y.z.min.js")" type="text/javascript"&gt;&lt;/script&gt; &lt;!-- Use your version of jQuery --&gt;
&lt;script src="&#64;Url.Content("~/Scripts/knockout-x.y.z.js")" type="text/javascript"&gt;&lt;/script&gt; &lt;!-- Use your version of knockout --&gt;
&lt;script src="&#64;Url.Content("~/Scripts/knockout.mapping-latest.js")" type="text/javascript"&gt;&lt;/script&gt;
&lt;script src="&#64;Url.Content("~/Scripts/perpetuum.knockout.js")" type="text/javascript"&gt;&lt;/script&gt;</pre>
    </li>
    <li>Use next template for view:
      <pre class="prettyprint lang-cs">
&#64;using PerpetuumSoft.Knockout
&#64;model &lt;!-- You model --&gt;
&#64;{
  var ko = Html.CreateKnockoutContext();
}
&lt;!-- Your page --&gt;

&#64;ko.Apply(Model)</pre>
    </li>
    <li>Inherit your controller from <code>KnockoutController:</code>
      <pre class="prettyprint lang-cs">
public class FooController : KnockoutController {
  public ActionResult Index()
  {    
    return View();
  }
}</pre>
    </li>
  </ul>
</div>
