@{
  ViewBag.Title = "Roadmap";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well">
  <h2>Roadmap</h2>
  <ul>
    <li>Data validations</li>
    <li>Advanced translation C# to JavaScript</li>
    <li>Advanced work with partial models</li>
    <li>Special settings for variable names</li>
    <li>Special settings for <a href="http://knockoutjs.com/documentation/plugins-mapping.html">mapping-plugin</a></li>
    <li>Small additional features and minor bug fix</li>
  </ul>
</div>
