@using PerpetuumSoft.Knockout
@model KnockoutMvcDemo.Models.SimpleListModel
@{
  var ko = Html.CreateKnockoutContext();
}
@using (ko.Html.Form("AddItem", "SimpleList", null, new { id = "myform" }))
{
  <span>New item:</span>
  @ko.Html.TextBox(m => m.ItemToAdd).ValueUpdate(KnockoutValueUpdateKind.AfterKeyDown)  
  <button type="submit" @ko.Bind.Enable(m => m.ItemToAdd.Length > 0)>Add</button>
  <p>Your items:</p>
  @ko.Html.ListBox(m => m.Items, new { width = 50, size = 7 })  
}
<script type="text/javascript">
  $('#myform').ajaxForm();
</script>

@ko.Apply(Model)